
#sidebar {
    background: #AAC697 !important;
}

#sidebar .sidebar-header {
    background: #A6C392 !important;
}

#sidebar ul.components {
    border-bottom: 1px solid #405537  !important;
}

#sidebar ul li a:hover {
    color: #AAC697 !important;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: #A6C392 !important;
}

ul ul a {
    background: ##A6C392 !important;
}

a.download {
    color: #AAC697 !important;
}

a.article,
a.article:hover {
    background: #A6C392 !important;
}
